<!DOCTYPE html>
<html>
<head>
  <title>UREDDIT</title>
  <link rel="stylesheet" href="  https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css
">

</head>
<body>

  <h1>UREDDIT</h1>
  <nav>
    <a href="/">Home</a><br />
    <a href="/signup">Sign Up</a><br />
    <a href="/login">Login</a><br />
    <a href="/logout">Logout</a><br />
    <a href="/posts/new">Add a Post</a><br />
    <a href="/users">Users</a><br />
  </nav>

{{{ body }}}


</body>
</html>