<!DOCTYPE html>
<html>
<head>
  <title>UREDDIT</title>
</head>
<body>

  <h1>UREDDIT</h1>
  <a href="/">Home</a><br />
  <a href="/users/signup">Sign Up</a><br />
  <a href="/login">Login</a><br />
  <a href="/logout">Logout</a><br />
  <a href="/posts/new">Add a Post</a><br />
  <a href="/users">Users</a><br />

{{{ body }}}


</body>
</html>