<h1>Welcome! Please login here:</h1>

<form method="POST" action="/login">
  <label>Enter email: <input type="text" name="user[email]"/></label>
  <label>Enter password: <input type="password" name="user[password]" /></label>
  <input type="submit" value="Login" /><br/>
  <p>No account? <a href="/signup" />Sign up here</a>
</form>