<h1>Welcome! Please Sign Up here:</h1>

<form method="POST" action="/signup">
  <label>Enter email: <input type="text" name="user[email]"/></label>
  <label>Enter password: <input type="password" name="user[password]" /></label>
  <input type="submit" value="Sign up" /><br/>
  <p>Already have an account? <a href="/signup" />Login here</a>
</form>