<h1>Add a post!</h1>

<form method="POST" action="/posts">
  <label>Title: <input type="text" name="post[title]"></label>
  <br />
  <label>Body: <textarea rows="10" cols="50" name="post[body]"></textarea></label>
  <label><input type="submit"></label>
</form>